/*reset.css*/
/* RESETS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: 3px dashed #228bec;
}

html {
    font: 62.5% / 1.15 sans-serif;
}

h1,
h2 {
    margin-bottom: 0;
}

/*END RESETS*/